<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <hr class="h1-hr" />
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/mkulinski">Michael</a>. A web developer who is hell bent on creating wonderful and weird web applications.
  </p>
  <p>
    Michael is currently upgrading is web development skills through The Firehose Project. Unsatisfied with simply creating beautiful web pages, Michael longs to build web applications for users the world over to enjoy.
  </p>
  <p>
    If you enjoyed this application, check out his other projects <a target="_blank" href="http://michaelkulinski.com/"> here</a>.
  </p>

  <br class="clear" />
<div class="about-me">
  <div class="col-xs-12 col-sm-4 polaroid">
    <%= image_tag 'michael.JPG', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Michael Kulinski</h2>
    <hr />
    <p>
      Michael is a web developer in Long Beach, California. By day he works as a Network Operations Center Engineer, but by night, he unleashes his creativity and coding skills to development amazing web applications. Originally born in Milwaukee, Wisconsin, Michael ditched the cold midwest winters for the sunny California beach in late 2015.
    </p>
  </div>

</div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />