body { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.clear {
	clear:both;
}
a:hover {
	text-decoration: none;
}
a:focus {
	outline: 0;
	text-decoration: none;
}
.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #D62B3F;
    border: 1px solid #ddd;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}
.slogan {
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	padding-top: 26px;
}
.links {
	padding-top: 15px;
}
.links a {
	color: #D62B3F;
	font-size: 25px;
	border-bottom: 2px solid #848484;
	font-family: 'source_sans_probold';
	text-transform: uppercase;
}
.links a:hover {
	color: #848484;
	border-bottom: 2px solid #D62B3F;
}
nav {
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0 10px 6px -6px #777;
}
h1 {
  font-family: 'source_sans_probold';
  font-size:48px;
}
h2 {
	font-family: 'source_sans_proregular';
}
.next-quote {
	color: #D62B3F;
	font-family: 'source_sans_proregular';
	font-size: 20px;
}
.next-quote:hover, .footer-blurb a:hover {
	color: #ddd;
}
.footer a {
	color: #D62B3F;
}
.footer-blurb {
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	text-align:right;
 	font-size:10px;
 	color: #848484;
}
.alert {
	clear: both;
}
.about {
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
}
.about a {
	color: #D62B3F;
}
.about .text-center {
	font-family: 'source_sans_probold';
  	font-size: 36px;
}
.about hr {
	width: 3em;
	border: none;
	height: 3px;
	background-color: black;
}
.h1-hr {
	margin-right: 82%;
	
}
.about-me {
	margin-top: 5%;
}
.modal {
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
}
h2 span {
  color: #dddddd;
  font-family: 'source_sans_probold';
}
::selection {
  background-color: #D62B3F;
}
.splurty-number {
	margin-top: 45px;
	margin-bottom: 45px;
}
.splurty-number span {
	color: #848484;
}
.btn-info {
	background-color: #D62B3F;
	border-color: #848484;
}
.btn-info:hover {
	background-color: #848484;
	border-color: #D62B3F;
	color: black;
}
 
.polaroid img {
	width: 90%;
	height: 90%;
	-webkit-box-shadow: 3px 3px 3px #777;
	-moz-box-shadow: 3px 3px 3px #777;
	box-shadow: 3px 3px 3px #777;
}
@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}
